.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  padding: 20px;
  font-size: 20px;
}
.navbar ul li {
  list-style: none;
  margin: 0 20px;
  text-decoration: none;
  text-transform: none;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
}
